<launch>

    <arg name="rc_joy" default="true"/>
    <arg name="run_experiment" default="true"/>

	<!-- Launch UAV -->
    <include file="$(find med_uav_description)/launch/gazebo_bebop.launch">
        <arg name="wind_force" value="0.0"/>
        <arg name="wind_start" default="5.0"/>
        <arg name="wind_duration" default="10.0"/>
        <arg name="wind_direction_x" default="0.0"/>
        <arg name="wind_direction_y" default="0.0"/>
        <arg name="wind_direction_z" default="1.0"/>
    </include>

    <group ns="bebop">
        <node pkg="med_uav_control" type="height_ctl.py" name="height_ctl" output="screen"/>
        <node pkg="med_uav_control" type="attitude_ctl.py" name="attitude_ctl" output="screen"/>
        
        <!-- if joystick active, there's no need for position control -->
        <!--node pkg="med_uav_control" type="horizontal_ctl.py" name="horizontal_ctl" output="screen"/-->

        <node pkg="med_uav_control" type="trajectory_to_position_reference.py" name="trajectory_to_position_reference" output="screen" />
    </group>

    <!-- Run rosserial_arduino for rc joystick -->
    <group if="$(arg rc_joy)">
        
        <include file="$(find med_uav_control)/launch/rc_joystick.launch">
            <arg name="port" default="/dev/ttyUSB0" />
            <arg name="baud" default="115200" />    
        </include>

        <node pkg="med_uav_control" type="futaba_to_joy.py" name="futaba_to_ros" output="screen"/>

    </group>
    
    <!-- Run normal joy node for normal joystick -->
    <group unless="$(arg rc_joy)">

        <node name="joy" pkg="joy" type="joy_node" output="screen">
        <param name="autorepeat_rate" value="$(arg joy_rate)"/>
      </node>

    </group>

    <group if="$(arg run_experiment)">
        <node name="observer" pkg="med_uav_control" type="observer.py" output="screen">
            
        </node>

    </group>


    
    <include file="$(find med_uav_control)/launch/bebop_joy_override.launch"/>

</launch>